<div class="layui-header">
  <div class="layui-logo" style="width:800px;padding-left:16px;text-align:left">欢迎您，超级管理员:{$super_admin.master_account}</div>
  <!-- 头部区域（可配合layui已有的水平导航） -->
  <!-- <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item"><a href="">控制台</a></li>
          <li class="layui-nav-item"><a href="">商品管理</a></li>
          <li class="layui-nav-item"><a href="">用户</a></li>
          <li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
              <dd><a href="">邮件管理</a></dd>
              <dd><a href="">消息管理</a></dd>
              <dd><a href="">授权管理</a></dd>
            </dl>
          </li>
        </ul> -->
  <ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
      <a href="javascript:;">
        <!-- <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> -->
        {$super_admin.master_account}
      </a>
      <dl class="layui-nav-child">
        <dd><a href="">基本资料</a></dd>
        <dd><a href="">安全设置</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item"><a href="{:url('logout')}">退了</a></li>
  </ul>
</div>

<div id="nav" class="layui-side layui-bg-black" style="top:0;padding-top:60px">
  <div class="layui-side-scroll" lay-allowClose="true">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-allowClose="true" lay-filter="demo">
      <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">辅导班管理</a>
        <dl class="layui-nav-child">
                <dd><a href="{:url('classList/index')}">辅导班列表</a></dd>
                <dd><a href="{:url('auditList/index')}">审核辅导班列表</a></dd>
                
                <!-- 
                <dd><a href="javascript:;">列表三</a></dd>
                <dd><a href="">超链接</a></dd> -->
        </dl>
      </li>
      <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">老师管理</a>
        <dl class="layui-nav-child">
            <dd><a href="{:url('teacherList/index')}">老师列表</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;">广告位管理</a>
          <dl class="layui-nav-child">
            
              <dd><a href="{:url('ad/bannerAd')}">轮播图管理</a></dd>
              <dd><a href="{:url('ad/rightAd')}">侧边广告</a></dd>
          </dl>
        </li>
      <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">用户管理</a>
        <dl class="layui-nav-child">
          <dd><a href="{:url('userList/index')}">用户列表</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">评价管理</a>
        <dl class="layui-nav-child">
            <dd><a href="{:url('evaluationList/index')}">评价列表</a></dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<script src="__STATIC__/layui/layui.js"></script>
<script>
  layui.use('element', function () {
    var element = layui.element;

  });
    </script>