<div class="layui-header">
  <div class="layui-logo">贝壳辅导管理后台</div>
  <!-- 头部区域（可配合layui已有的水平导航） -->
  <!-- <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item"><a href="">控制台</a></li>
          <li class="layui-nav-item"><a href="">商品管理</a></li>
          <li class="layui-nav-item"><a href="">用户</a></li>
          <li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
              <dd><a href="">邮件管理</a></dd>
              <dd><a href="">消息管理</a></dd>
              <dd><a href="">授权管理</a></dd>
            </dl>
          </li>
        </ul> -->
  <ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
      <a href="javascript:;">
        <!-- <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> -->
        
      </a>
      <dl class="layui-nav-child">
        <dd><a href="">基本资料</a></dd>
        <dd><a href="">安全设置</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item"><a href="">退了</a></li>
  </ul>
</div>

<div id="nav" class="layui-side layui-bg-black">
  <div class="layui-side-scroll" lay-allowClose="true">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-allowClose="true" lay-filter="demo">
      <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">辅导班管理</a>
        <dl class="layui-nav-child">
                <dd><a href="{:url('classList/index')}">辅导班列表</a></dd>
                <dd><a href="{:url('auditList/index')}">审核辅导班列表</a></dd>
                <!-- 
                <dd><a href="javascript:;">列表三</a></dd>
                <dd><a href="">超链接</a></dd> -->
              </dl>
      </li>
      <li class="layui-nav-item">
        <a href="{:url('teacher/index')}">老师管理</a>
        <!-- <dl class="layui-nav-child">
                <dd><a href="javascript:;">列表一</a></dd>
                <dd><a href="javascript:;">列表二</a></dd>
                <dd><a href="">超链接</a></dd>
              </dl> -->
      </li>
      <li class="layui-nav-item"><a href="javascript:;">用户管理</a></li>
      <li class="layui-nav-item"><a href="javascript:;">文章管理</a></li>
      <li class="layui-nav-item"><a href="javascript:;">评论管理</a></li>
    </ul>
  </div>
</div>

<script>

</script>