<div class="layui-header">
  <div class="layui-logo">{$class.class_name}</div>
  <!-- 头部区域（可配合layui已有的水平导航） -->
  <!-- <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item"><a href="">控制台</a></li>
          <li class="layui-nav-item"><a href="">商品管理</a></li>
          <li class="layui-nav-item"><a href="">用户</a></li>
          <li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
              <dd><a href="">邮件管理</a></dd>
              <dd><a href="">消息管理</a></dd>
              <dd><a href="">授权管理</a></dd>
            </dl>
          </li>
        </ul> -->
  <ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
      <a href="javascript:;">
        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
        贤心
      </a>
      <dl class="layui-nav-child">
        <dd><a href="">基本资料</a></dd>
        <dd><a href="">安全设置</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item"><a href="">退了</a></li>
  </ul>
</div>

<div id="nav" class="layui-side layui-bg-black" style="top:0">
  <div class="layui-side-scroll" lay-allowClose="true">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul id="navUl" class="layui-nav layui-nav-tree" lay-allowClose="true" lay-filter="demo" style="padding-top:60px">
      <li class="layui-nav-item layui-nav-itemed">
        <a href="{:url('index/index')}">管理辅导班</a>
        <!-- <dl class="layui-nav-child">
                <dd><a href="javascript:;">列表一</a></dd>
                <dd><a href="javascript:;">列表二</a></dd>
                <dd><a href="javascript:;">列表三</a></dd>
                <dd><a href="">超链接</a></dd>
              </dl> -->
      </li>
      <li class="layui-nav-item">
        <a href="{:url('teacher/index')}">管理老师</a>
        <!-- <dl class="layui-nav-child">
                <dd><a href="javascript:;">列表一</a></dd>
                <dd><a href="javascript:;">列表二</a></dd>
                <dd><a href="">超链接</a></dd>
              </dl> -->
      </li>
      <li class="layui-nav-item"><a href="javascript:;">报名情况</a></li>
      <li class="layui-nav-item"><a href="javascript:;">请假情况</a></li>
    </ul>
  </div>
</div>

<script>
  var nav = document.getElementById('nav');
  var navUl = document.getElementById('navUl');
  var iTimer = null;

  // 封装后的函数
  function startMove() {
      clearInterval(iTimer);  //运动前清除定时器
      iTimer = setInterval(function() {
            if (oDiv.offsetLeft == 500) {
              clearInterval(iTimer);   //满足条件清除定时器
              } else {
                  oDiv.style.left = oDiv.offsetLeft + 10 + 'px'; //每次向前移动
          }
              
          }, 30);
  }  

  window.onscroll = function() {
    //为了保证兼容性，这里取两个值，哪个有值取哪一个　
    var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
    //scrollTop就是触发滚轮事件时滚轮的高度
      clearInterval(iTimer);  //运动前清除定时器
      iTimer = setInterval(function() {
        if(scrollTop>60) {
          navUl.style.paddingTop="0";
        } else {
          navUl.style.paddingTop="60px";
        }
      })
}

</script>