<!--包含头部文件-->
{include file="public/header" /}
<style>
  .layui-table-cell {
    height: 42px;
    line-height: 42px;
  }
</style>
<div class="layui-layout layui-layout-admin">

  <!--包含菜单文件-->
  {include file="public/menu" /}

  <div class="layui-container" style="margin-left:200px;">
    <!-- 内容主体区域 -->
    <table class="layui-hide" id="test" lay-filter="test"></table>
  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->

  </div>
</div>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <a href="{:url('GoAddBanner',['ad_type'=>1])}" class="layui-btn layui-btn-sm" lay-event="addTeacher">添加广告位</a>
  </div>
</script>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  {{#  if(d.ad_state == 1){ }}
  <a style="background: #a8a8a8" class="layui-btn layui-btn layui-btn-xs" lay-event="change">隐藏</a>
  {{#  } else { }}
  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="change">显示</a>
  {{#  } }} 
</script>

<script>
  layui.use('table', function () {
    var table = layui.table;

    table.render({
      elem: '#test'
      , url: '{:url("getAdList")}'
      , where: { ad_type: '1' }
      , method: 'GET'
      , toolbar: '#toolbarDemo'
      , title: '用户数据表'
      , page: true
      , request: {
        pageName: 'nums' //页码的参数名称，默认：page
        , limitName: 'curr' //每页数据量的参数名，默认：limit
        , type: 'ad_type'
      }
      , cols: [[ //表头
        { type: 'checkbox' }
        , { field: 'ad_id', title: 'ID', sort: true }
        , { field: 'upload_time', title: '上传时间' }
        , {
          field: 'ad_img', title: '照片'
          , templet:
            `<div class="layer-photos-demo" style="cursor:pointer;">
                        <img layer-src="__STATIC__/images/banner/{{d.ad_img}}" src="__STATIC__/images/banner/{{d.ad_img}}" alt="图片名">
                        </div>`
        }
        , {
          title: '状态', templet: function (d) {
            if (d.ad_state == 0) {
              return '<span style="color:red">不显示<span>';
            } else if (d.ad_state == 1) {
              return '<span style="color:#1E9FFF">显示<span>';
            }
          }
        }
        , { field: 'ad_sort', title: '排序', sort: true, event: 'sort', style: 'cursor: pointer;' }

        , { title: '操作', toolbar: '#barDemo', width: 150 }
      ]]
      , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
        // , limit: 5
        , limits: [5, 10, 20]
        , groups: 1 //只显示 1 个连续页码
        , first: false //不显示首页
        , last: false //不显示尾页
      }
      // ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
      //   layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
      //   //,curr: 5 //设定初始在第 5 页
      //   ,groups: 1 //只显示 1 个连续页码
      //   ,first: false //不显示首页
      //   ,last: false //不显示尾页
      // }

      , width: 1200
      , done: function (res, curr, count) {
        console.log(res);
        hoverOpenImg();//显示大图
        $('table tr').on('click', function () {
          $('table tr').css('background', '');
          $(this).css('background', '<%=PropKit.use("config.properties").get("table_color")%>');
        });
      }
    });

    function hoverOpenImg() {
      var img_show = null; // tips提示
      $('td img').hover(function () {
        //alert($(this).attr('src'));
        var img = "<img class='img_msg' src='" + $(this).attr('src') + "' style='width:530px;' />";
        img_show = layer.tips(img, this, {
          tips: [1, 'rgba(41,41,41,.5)']
          , area: ['560px']
        });
      }, function () {
        layer.close(img_show);
      });
      $('td img').attr('style', 'max-width:70px');
    }
    //头工具栏事件
    table.on('toolbar(test)', function (obj) {

      // var checkStatus = table.checkStatus(obj.config.id);
      // switch(obj.event){
      //   case 'getCheckData':
      //     var data = checkStatus.data;
      //     layer.alert(JSON.stringify(data));
      //   break;
      //   case 'getCheckLength':
      //     var data = checkStatus.data;
      //     layer.msg('选中了：'+ data.length + ' 个');
      //   break;
      //   case 'isAll':
      //     layer.msg(checkStatus.isAll ? '全选': '未全选');
      //   break;
      //   case 'addTeacher':

      // };
    });

    //监听行工具事件
    table.on('tool(test)', function (obj) {
      var data = obj.data;
      console.log(obj)
      if (obj.event === 'del') {
        layer.confirm('确定要删除该照片？', function (index) {
          // obj.del();
          layer.close(index);
          $.post(
            "{:url('del')}",
            { ad_id: data.ad_id },
            function (data) {
              console.log(data);
              console.log('----------');
              layer.msg(data,{time:800,end:function(){
                table.reload('test');
              }});
            }
          )

        });
      } if (obj.event === 'change') {
        layer.confirm('确定要改变该图片状态？', function (index) {
          // obj.del();
          layer.close(index);
          $.post(
            "{:url('change')}",
            { ad_id: data.ad_id },
            function (data) {
              console.log(data);
              console.log('----------');
              layer.msg(data,{time:800,end:function(){
                window.location.reload();
              }});
            }
          )

        });
      }
      if (obj.event === 'sort') {
        layer.prompt({
          formType: 2
          , title: '修改 ID 为 [' + data.ad_id + '] 的排序'
          , value: data.ad_sort
        }, function (value, index) {
          layer.close(index);
          $.post(
            "{:url('editSort')}",
            {
              ad_id: data.ad_id,
              ad_sort: value
            },
            function (data) {
              console.log(data);
              layer.msg(data);
            }
          )
          //这里一般是发送修改的Ajax请求

          //同步更新表格和缓存对应的值
          obj.update({
            ad_sort: value
          });
        });
      }

    });
  });
</script>
<!--包含尾部文件-->
{include file="public/footer" /}