<!--包含头部文件-->
{include file="public/header" /}
<div class="layui-container">
<h1 style="text-align:center;margin:20px auto">贝壳辅导班-超级管理员登录</h1>
  <div class="layui-form" style="width:600px;margin: 0 auto;margin-top: 50px"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    
    <div class="layui-form-item">
        <label class="layui-form-label">管理员账号</label>
        <div class="layui-input-block">
            <input type="text" name="account" id="account" placeholder="请输入账号" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="margin-top:30px">
        <label class="layui-form-label">管理员密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" id="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>      

    <div class="layui-form-item" style="margin-top:30px">
        <label class="layui-form-label">验证码</label>
        <div class="layui-input-block">
          <input  class="layui-input" lay-verify="required"  type="text" id="verifycode" placeholder="请输入验证码" name="verifycode"> 
        <div><img id="v_img" src="{:url('show_captcha')}" alt="captcha"  onclick="this.src=this.src"+'?'/></div>
        </div>
    </div>      

    <div class="layui-form-item">
        <div class="layui-input-block" style="margin-top:30px">
            <input style="width:105px" type="button" class="layui-btn" id="submit"  lay-filter="*" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
            <!-- <a href="{:url('login/register')}"> <input style="width:105px" type="button" class="layui-btn" lay-filter="*" value="注册辅导班"> </a> -->
            <!-- <input class="layui-btn" lay-filter="*" style="margin-left: 100px;">注册辅导班</i> -->
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
  </div>
</div>
<script src="__STATIC__/jquery-3.3.1.min.js"></script>


<script src="__STATIC__/layer/layer.js"></script>

    <script type="text/javascript">  
        

    </script>
    <script>
        $('#submit').click(function(){
            // console.log($("#account").val())
            if($("#account").val() == '' || $("#password").val() == '' || $("#verifycode").val() == ''){
                layer.msg('请输入完整的登录信息');
            } else {
                $.post("{:url('login/index')}",
                { 
                    verifycode:$("#verifycode").val(),
                    account:$("#account").val(),
                    password:$("#password").val(),
                }
                ,function(data){
                    if(data == "登录成功") {
                        layer.msg("登录成功",{time:800,end:function(){
                            window.location.href="{:url('classList/index')}";
                        }})
                    } else {
                        layer.msg(data,{time:1000,end:function(){
                            $('#v_img').click();
                        }})
                    }
                })
        }
  })
    </script>   
<!--包含尾部文件-->
{include file="public/footer" /}